@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root{
  --primary:#a6d1ff;
  --primary-dark:#005bb6;
  --text:#1d3557;
  --background:#f0f8ff;
  --white:#fff;
}
